body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("fondoWeb.jpg");
  background-size: 100%;
  background-repeat: repeat-y;
  cursor: default;
}

@font-face{
  font-family: "MonumentRegular";
  src: url("MonumentExtended-Regular.otf");
}

@font-face{
  font-family: "MonumentUltraBold";
  src: url("MonumentExtended-Ultrabold.otf");
}

hr{
  height: 5px;
  color:'white';
  background-color: #fff;
  width: 500px;
  
}

@font-face{
  font-family: "Euclid";
  src: url("EuclidCircularA-Medium.ttf");
}

img:hover{
  transform: scale(1.01);
}

.navBarDiv:hover{
  transform: scale(1.05);
  
}
 

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
